OPENAI_API_KEY="your api key"
OPENAI_API_BASE="https://api.siliconflow.cn/v1" 
LLM_MODEL="Qwen/Qwen3-14B"
DB_URI="mysql+pymysql://root:021598@172.17.0.2:3306/boe_planner_db"
CHAINLIT_AUTH_SECRET="pFBMj$M$Tx47?0qcF/VwYxV3d/%BWce4*zYk.HsRl,Dv0gaI7Jxz*r^Q.RIqay-G"
